<p class="text-justify">You are here on an autonomous instance of the game hosted by the designers of the game. The <a href="http://innovalangues.fr">innovalangues</a> version is accessible <a href="http://gameofwords.innovalangues.net">here</a>.</p>
<p class="text-justify">Game of Words was conceived as an aid to language learning.
This is a guessing game (…) inspired from <a href="https://en.wikipedia.org/wiki/Taboo_(game)">Taboo</a>. The objective of taboo is to have your teammates guess as many words as possible in a limited time.<br />
Each word is presented as a card on which forbidden words are written. The player who helps their teammates guess cannot use those words under any form in their description.
We propose an asynchronous version of this game using three roles: the oracle, the druid and the augur.<br />
The oracle describes the words (without using the forbidden words), the druid create cards and referees the descriptions made by other oracles,
 while the augur tries to guess the words.
</p>
<p class="text-justify">The first version was created as part of the <a href="http://innovalangues.fr/realisations/ressources-ludiques/">GAMER work package</a> by two students of the <a href="http://formations.univ-grenoble-alpes.fr/fr/catalogue/master-XB/sciences-humaines-et-sociales-SHS/master-sciences-du-langage-program-master-sciences-du-langage/parcours-industries-de-la-langue-subprogram-parcours-industries-de-la-langue.html">univ. Grenoble Alpes IdL master</a>,
Chloé Cimpello et Justine Reverdy (tutored by VZ & ML). It has since benefitted from <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/lzbk/GameOfWord">many contributors</a>.</p>
<h2>Credits</h2>
<ul>
	<li>Design (in alphabetical order)</li>
	<ul>
		<li>Pauline Ballot</li>
		<li>Chloe Cimpello</li>
		<li>Ada Gazidedja</li>
		<li>Racha Hallal</li>
		<li>Mathieu Loiseau</li>
		<li>Vanessa Piccoli</li>
		<li>Justine Reverdy</li>
		<li>Virginie Zampa</li>
	</ul>
<li>Code (in chronological order)</li>
	<ul>
	<li>Première itération</li>
		<ul>
			<li>Chloe Cimpello</li>
			<li>Justine Reverdy</li>
		</ul>
		<li>Seconde itération</li>
		<ul>
			<li>Maryam Nejat</li>
			<li>David Graceffa</li>
		</ul>
		<li>Patches</li>
		<ul>
			<li>Arnaud Bey</li>
			<li>Benjamin Abrial</li>
			<li>Mathieu Loiseau</li>
		</ul>
	</ul>
<li>Texts and typos</li>
	<ul>
		<li>Yoann Goudin</li>
		<li>Haydée Silva</li>
	</ul>
<li>Game “cards”</li>
	<ul>
		<li>Cristina De Girolamo</li>
		<li>John Kenwright</li>
		<li>Triscia Biagiotti</li>
		<li>Elena Tea</li>
		<li>Pauline Ballot</li>
		<li>Racha Hallal</li>
		<li>Ada Gazidedja</li>
		<li>Nadia Yassine-Diab</li>
		<li>Mayra Alejandra Siordia García</li>
	</ul>
	<li>If you've been forgotten, please tell us…</li>
</ul>
<img src="style/default.css/imgs/logo.png" class="img-responsive" alt="Responsive image" align="center" />
