<style>
	.text-justify a {font-family:Arial, sans-serif;font-size: 1.1em;}
</style>
<p class="text-justify">Vous êtes ici sur une instance autonome du jeu hébergée par les concepteur du jeu. La version <a href="http://innovalangues.fr">innovalangues</a> est accessible <a href="http://gameofwords.innovalangues.net">ici</a>.</p>
<p class="text-justify">Le jeu Game of Words a été conçu pour être un complément d’apprentissage d’une langue étrangère.<br />
Ce jeu est un jeu de devinettes dont le premier avatar (…) s’inspire du <a href="https://fr.wikipedia.org/wiki/Taboo">Taboo</a>, dont l’objectif est de faire deviner un maximum de mots dans un temps imparti à son ou ses coéquipier(s).<br />
Chaque mot se présente sous la forme d’une carte à laquelle sont associés des mots interdits que le descripteur n’aura pas le droit d’utiliser pour faire comprendre quel mot concerne sa description.
Notre site propose une version asynchrone de ce jeu, composée de trois rôles qu’il est possible d'incarner tour à tour: L’Oracle, le Druide et le Devin :<br />
L’Oracle est celui qui décrit les mots en évitant les mots tabous, le Druide crée des cartes de toutes pièces et arbitre des descriptions faites par l’Oracle,
et le Devin doit quant à lui essayer de deviner le plus vite possible de quel mot l’Oracle fait la description.
</p>
<p class="text-justify">La première version du jeu a été réalisée dans le cadre du <a href="http://innovalangues.fr/realisations/ressources-ludiques/">«&nbsp;lot&nbsp;» GAMER</a> par deux étudiantes du Master Sciences du langage <a href="http://formations.univ-grenoble-alpes.fr/fr/catalogue/master-XB/sciences-humaines-et-sociales-SHS/master-sciences-du-langage-program-master-sciences-du-langage/parcours-industries-de-la-langue-subprogram-parcours-industries-de-la-langue.html">parcours Industries de la langue de l'université Grenoble Alpes</a> (à l'époque Université Stendhal),
Chloé Cimpello et Justine Reverdy (encadré par VZ et ML). Il a depuis bénéficié de <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/lzbk/GameOfWord">nombreuses contributions</a> que ce soit du point de vue de la conception ou du développement.</p>
<h2>Crédits</h2>
<ul>
	<li>Conception (ordre alphabétique)</li>
	<ul>
		<li>Pauline Ballot</li>
		<li>Chloe Cimpello</li>
		<li>Ada Gazidedja</li>
		<li>Racha Hallal</li>
		<li>Mathieu Loiseau</li>
		<li>Vanessa Piccoli</li>
		<li>Justine Reverdy</li>
		<li>Virginie Zampa</li>
	</ul>
<li>Code (ordre chronologique)</li>
	<ul>
	<li>Première itération</li>
		<ul>
			<li>Chloe Cimpello</li>
			<li>Justine Reverdy</li>
		</ul>
		<li>Seconde itération</li>
		<ul>
			<li>Maryam Nejat</li>
			<li>David Graceffa</li>
		</ul>
		<li>Patches</li>
		<ul>
			<li>Arnaud Bey</li>
			<li>Benjamin Abrial</li>
			<li>Mathieu Loiseau</li>
		</ul>
	</ul>
<li>Textes et fautes de frappe</li>
	<ul>
		<li>Yoann Goudin</li>
		<li>Haydée Silva</li>
	</ul>
	<li>Cartes</li>
		<ul>
			<li>Cristina De Girolamo</li>
			<li>John Kenwright</li>
			<li>Triscia Biagiotti</li>
			<li>Elena Tea</li>
			<li>Pauline Ballot</li>
			<li>Racha Hallal</li>
			<li>Ada Gazidedja</li>
			<li>Nadia Yassine-Diab</li>
			<li>Mayra Alejandra Siordia García</li>
		</ul>
	<li>Et si vous avez été oubliés, désolé… Merci de nous le faire remarquer</li>
</ul>
<img src="style/default.css/imgs/logo.png" class="img-responsive" alt="Responsive image" align="center" />
