<?php include_once("./models/userlvl.class.php"); ?>
<h2>Données personnelles</h2>
<h3>Données recueillies</h3>
<p class="text-justify">Dans le cadre de <emph>Game of Words</emph>, nous sommes obligés de recueillir un ensemble de données personnelles pour le bon déroulement du jeu. En effet, sans stocker  cartes créées, enregistrements, décisions de druide, tentatives de devin de chaque joueur, comment pourrions-nous mettre en place ce jeu ? En outre, le calcul du score et les propositions de carte tentent (tant bien que mal) de prendre en compte votre niveau, d'où le fait de vous demander votre biographie langagière.</p>
<h3>Traitements effectués</h3>
<p class="text-justify">Tout traitement de vos données à des fins de recherche sera toujours <emph>anonyme</emph> (à moins que vous ne disiez votre nom dans un enregistrement sans que nous ne nous en rendions compte à temps), votre pseudo sera remplacé par un numéro et votre adresse électronique séparée des données analysées.</p>
<p class="text-justify">Votre adresse de courrier électronique ne sera transmise à des tiers sous aucun prétexte (à moins qu'une décision de justice ne nous y oblige, mais ça parait tiré par les cheveux). Par contre, il peut nous arriver de l'utiliser pour vous informer de nouveautés concernant le jeu…</p>
<p class="text-justify">Par défaut, aucun traitement, autre que ceux nécessaires à la bonne tenue du jeu, ne sera fait sur vos données. Toutefois, nous pouvons être amenés à lancer des campagnes de recueil de données :</p>
<ul>
	<li>en vue d'améliorer ce jeu ;</li>
	<li>en vue de tenter de comprendre les retombées potentielles en termes d'apprentissage ;</li>
	<li>en vue de fournir des données de recherche à des chercheurs dans d'autres domaines (comme le Traitement Automatique des Langues, qui pourrait par exemple permettre que vous vous dispensiez du rôle de Druide en laissant la machine jouer son rôle).</li>
</ul>
<p class="text-justify">Contrairement à la plupart des services que vous utilisez probablement quotidiennement, ces campagnes de recueil de données feront toujours l'objet d'une demande <emph>explicite</emph>, par le biais des questionnaires que nous mettrons à votre disposition. Si cela vous assure un plus grand contrôle sur vos données, cela risque grandement de limiter la taille de nos données. C'est pourquoi, si ça ne vous dérange pas de nous aider à approfondir nos connaissances (diffusées sous licence libre, comme le <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/lzbk/GameOfWord">code du présent jeu</a> ou <a href="https://research-publishing.net/display_article.php?doi=10.14705/rpnet.2016.eurocall2016.576">cet article qui en parle</a>), nous vous remercions de prendre le temps de participer à nos enquêtes… Chaque enquête expliquera au coup par coup, les traitements que nous envisageons de faire et qui aura droit de travailler sur vos données.</p>
<p class="text-justify">En vous remerciant d'utiliser nos prototypes aussi buggués soient-ils.</p>
