<?php include_once("./models/userlvl.class.php"); ?>
<h2>Personal data</h2>
<h3>Stored data</h3>
<p class="text-justify"><emph>Game of Words</emph> requires that we store some personal data so that it can be played. How could you play if we did not store the cards you create, the recordings you make, the decisions you take as a Druid or your trials as an Augur ? Additionnally, the computation of the score and the cards suggestions try to take into account your level (and need a lot more work), hence the fact that we ask you which languages you speak.</p>
<h3>Data analysis</h3>
<p class="text-justify">All data analysis made for research will always be <emph>anonymous</emph> (unless you state your name in a recording and we don't notice it until it's too late), your screename will be replaced by a number and your e-mail address separated from the analysed data.</p>
<p class="text-justify">Your e-mail address will not be transmitted to any third party under any circumstance (unless a justice order requires that we do, but that seems quite unlikely). On the contrary, it is not impossible that we use it to inform you of some game update…</p>
<p class="text-justify">By default, no process, other than that required by the game itself will be performed upon your data. Still we might launch data collection campaigns:</p>
<ul>
	<li>to improve this game ;</li>
	<li>to understand the learning outcomes it might provide ;</li>
	<li>to improve the knowledge of researchers in other domains (for instance better Natural Language Processing could allow the computer to play the role of the Druid, letting you focus on the Oracle and Augur roles).</li>
</ul>
<p class="text-justify">Unlike most web services you probably use daily, these datacollection campaign will always be dependant upon the completion of an <emph>explicit</emph> demand, through the questionnaires we will put at your disposal. On the one hand, that ensures that you keep control other your data, but on the other hand, that limits the data we might collect. That's why, if you don't mind helping us to improve our knowledge (shared under an open licence, like <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/lzbk/GameOfWord">the code for the game</a> or <a href="https://research-publishing.net/display_article.php?doi=10.14705/rpnet.2016.eurocall2016.576">this article</a>), we thank you in advance to take the time to fill our studies… Each study will carefully explain the processes we want to perform on your data and who will be able to work on it.</p>
<p class="text-justify">Thank you for using our games, however bugged they might be.</p>
