		</div>
		<footer><?php
			require_once('./languages/language.php');
			if(isset($lang)){
				echo $lang["page_footer"];
			}
			else{
				echo "Nous vous remercions de tester notre jeu&nbsp;! Afin que nous puissions l'améliorer, n'hésitez pas à nous faire part de vos idées d'amélioration ou bugs en ajoutant des «&nbsp;<i>issues</i>&nbsp;» <a href='https://gricad-gitlab.univ-grenoble-alpes.fr/lzbk/GameOfWord/issues'>ici</a>.";
			}
			?>
		</footer>
	</body>
</html>
